# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_RISCV_AWS=y
CONFIG_SOC_RISCV_AWS=y
CONFIG_BOARD_AWS_FPGA=y
CONFIG_UART_XLNX_UARTLITE=y
CONFIG_STACK_SENTINEL=n
CONFIG_QEMU_ICOUNT_SHIFT=0
CONFIG_XIP=n
CONFIG_RISCV_PMP=n
